<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sodoku Solver</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Sodoku Solver</h1>
    <div id="main">
        <div id="grid">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <input type="text" autocomplete="off" maxlength="1" inputmode="numeric">
            <br>
        </div>
    </div>
</body>
</html>